{% extends 'plantilla.html' %}
{% block titulo %} Servicios {% endblock %}


{% block contenido %}

{% load static %}

    
    
 <main style="margin-top: 20vh;">

    <div class="container mt-5 card-body">
       <h3 class="text -center">Explorá nuestra cartilla de platos, tragos/bebidas y cafetería, realizá tu selección y recibilo en tu habitación(*).</h3>

          <small>(*)Algunos servicios no estan disponibles en ciertos horarios. Chequear vía telefónica previamente. </small>
    </div>

  {% comment %} Imagenes de la carta a modo de presentación {% endcomment %}

    <section>
    <div class="container mt-3 ">
      <div class="row">
          <div class="col-sm-4  bg-dark text-white p-4 rounded border border-danger-subtle ">
              <img src="{%static 'img/roomservice/comidas.webp' %}" class="img-fluid rounded" alt="Carta de Comidas">
          </div>
          <div class="col-sm-4   bg-dark text-white p-4 rounded border border-danger-subtle ">
              <img src="{%static 'img/roomservice/cafeteria.webp' %}" class="img-fluid rounded" alt="Carta de Cafetería">
          </div>
          <div class="col-sm-4  bg-dark text-white p-4 rounded border border-danger-subtle">
              <img src="{%static 'img/roomservice/cocktails.webp' %}" class="img-fluid rounded" alt="Carta de Bebidas y Cócteles">
          </div>
      </div>
  </div>
  </section>

  {% comment %} Boton que redirige al template de productos {% endcomment %}

  <div class="d-grid gap-2 col-6 mx-auto mt-5">
    <button class="btn btn-secondary border border-dark-subtle" type="button"><a class="text-white text-decoration-none" href="{%url 'productos'%}">Hace tu selección y disfruta de nuestra oferta gastronómica</a> </button>
  </div>

  
  {% comment %} Titulo parte de eventos {% endcomment %}

  <div class="container mt-5 card-body">
    <h3 class="text -center">Chequeá nuestros eventos exclusivos y las comodidades de nuestras instalaciones(*).</h3>

       <small>(*)Algunos eventos estan disponibles según el día y horarios preestablecidos. </small>
 </div>


 {% comment %} Imagenes a modo de presentación de eventos {% endcomment %}

 <section>
  <div class="container mt-3 ">
    <div class="row">
        <div class="col-sm-4  bg-dark text-white p-4 rounded border border-danger-subtle ">
            <img src="{%static 'img/facilities/instalaciones_RESTAURANTE&BAR.webp' %}" class="img-fluid h-100 rounded" alt="">
        </div>
        <div class="col-sm-4   bg-dark text-white p-4 rounded border border-danger-subtle ">
            <img src="{%static 'img/facilities/instalaciones_GYM.webp' %}" class="img-fluid h-100 rounded" alt="">
        </div>
        <div class="col-sm-4  bg-dark text-white p-4 rounded border border-danger-subtle ">
            <img src="{%static 'img/facilities/instalaciones_06.webp' %}" class="img-fluid h-100 rounded" alt="">
        </div>
    </div>
</div>
</section>
<section>
  <div class="container mt-3 ">
    <div class="row">
        <div class="col-sm-4  bg-dark text-white p-4 rounded border border-danger-subtle ">
            <img src="{%static 'img/facilities/instalaciones_02.webp' %}" class="img-fluid h-100 rounded" alt="">
        </div>
        <div class="col-sm-4   bg-dark text-white p-4 rounded border border-danger-subtle ">
            <img src="{%static 'img/card_spa.webp' %}" class="img-fluid h-100 rounded" alt="">
        </div>
        <div class="col-sm-4  bg-dark text-white p-4 rounded border border-danger-subtle ">
            <img src="{%static 'img/facilities/instalaciones_YATES.webp' %}" class="img-fluid h-100 rounded" alt="">
        </div>
    </div>
</div>
</section>

<!-- Boton que linkea a eventos -->

<div class="d-grid gap-2 col-6 mx-auto mt-5">
  <button class="btn btn-secondary border border-dark-subtle" type="button"><a class="text-white text-decoration-none" href="{% url 'actividades' %}">Conocé más de nuestros eventos y zona de relax</a> </button>
</div>
 

  <!-- <img src="{%static 'img/facilities/instalaciones_RESTAURANTE&BAR.webp'%}" alt="">
  <img src="{%static 'img/facilities/instalaciones_RESTAURANTE&BAR.webp'%}" alt="">
  <img src="{%static 'img/facilities/instalaciones_RESTAURANTE&BAR.webp'%}" alt="">
  <img src="{%static 'img/facilities/instalaciones_RESTAURANTE&BAR.webp'%}" alt="">
  <img src="{%static 'img/facilities/instalaciones_RESTAURANTE&BAR.webp'%}" alt="">
  <img src="{%static 'img/facilities/instalaciones_RESTAURANTE&BAR.webp'%}" alt=""> -->



 </section>

</main>
  
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  
  
 {% endblock %}