{% extends "plantilla.html" %}

{% block contenido %}
  <h2>Registro e Inicio de Sesión</h2>

  <div class="registration-form">
    <h3>Registro</h3>
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %}
      {{ registration_form.as_p }}
      <button type="submit">Registrarse</button>
    </form>
  </div>

  <div class="login-form">
    <h3>Iniciar Sesión</h3>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ login_form.as_p }}
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
{% endblock %}

