{% extends "accounts/base_accounts.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'combinedRL.css' %}"> 
{% endblock %}

{% block contenido %}
{% comment %} {% if user.is_authenticated %}
<h1>User: {{ user.get_username }}</h1>
{% endif %} {% endcomment %}

{% for message in messages  %}
{% if message.tags == "success"%}
<div class="modal show fade mt-6" tabindex="-1" id="modal" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">

        <h5 class="modal-title text-success">{{message}}</h5>
        <button type="button" class="btn-close" id="closeModal"></button>

      </div>

    </div>
  </div>
</div>
{% endif %}

{% endfor %}

<section class="contenedor">

  {% if registration_form.errors or login_form.errors %}
  <div class="modal show fade mt-6" tabindex="-1" id="modal" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" id="closeModal"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
            
      </div>
    </div>
  </div>
  {% endif %}
 
  <div class="formulario-container {% if LoginOrRegister %}right-panel-active{% endif %}" id="container">
    <div class="form-container sign-up-container">

{% if form.errors %}      
<ul class="error_list my-0">
        {% for field in registration_form %}
            {% if field.errors %}
            {% for error in field.errors %}
            <li><span class="error_list_field fs-6">{{field.label}}:</span> {{error|escape}}</li>
            {% endfor %}

            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

      <form method="post" action="{% url 'accounts-hanfler' %}" class="mt-0">
        <h3>Registrarse</h3>
        {% csrf_token %}
        
        
        <input type="hidden" name="registration_form" value="registration_form" id="registration_form">
        {% for field in registration_form  %}
        <p class="my-3">
        <label for="{{ field.id_for_label }}">{{field.label}}</label>
        {{field}}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        </p>
        {% endfor %}
        {% comment %} {{ registration_form.as_p }} {% endcomment %}
        <button type="submit" class="mt-2">Registrarse</button>
      </form>
    </div>


    <div class="form-container sign-in-container ">


      <ul class="error_list mb-0">
        {% for field in login_form %}
            {% if field.errors %}
            {% for error in field.errors %}
            <li><span class="error_list_field fs-6">{{field.label}}:</span> {{error|escape}}</li>
            {% endfor %}

            {% endif %}

        {% endfor %}
        <li>{{login_form.non_field_errors}}</li>

    </ul>

      <form method="post" action="{% url 'accounts-hanfler' %}">
        <h3>Iniciar Sesión</h3>
        {% csrf_token %}
        <input type="hidden" name="login_form" value="login_form" id="login_form">
        {% for field in login_form  %}
        <p>
        <label for="{{ field.id_for_label }}">{{field.label}}</label>
        {{field}}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        </p>
        {% endfor %}
        {% comment %} {{ login_form.as_p }} {% endcomment %}
        {% if 'next' in request.GET %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <button type="submit">Iniciar Sesión</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <a href="{% url "index" %}">
            <img src="{% static 'img/logo2.svg' %}" class="svg-overlay"/>
          </a>
          <h1>Bienvenido de vuelta!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" id="signIn">Iniciar Sesión</button>
        </div>
        <div class="overlay-panel overlay-right">
          <img src="{% static 'img/logo2.svg' %}" class="svg-overlay"/>
          <h1>Hola!</h1>
          <p>Introduce tus datos personales y comienza tu viaje con nosotros.</p>
          <button class="ghost" id="signUp">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</section>
  <script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');
    
    signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
    });
    
    signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
    });

    {% if registration_form.errors or login_form.errors or messages %}
    boton = document.querySelector("#closeModal");
    modal = document.querySelector("#modal");

    boton.addEventListener("click", () =>{
        if(modal.classList.contains("show")){
            modal.classList.remove("show")
            modal.style.display = "none"
        }else{
            modal.classList.add("show")
            modal.style.display = "block"
          
          }
        })
    {% endif %}

  </script>
{% endblock %}

