{% extends "accounts/base_accounts.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'combinedRL.css' %}"> 
{% endblock %}

{% block contenido %}
{% comment %} {% if user.is_authenticated %}
<h1>User: {{ user.get_username }}</h1>
{% endif %} {% endcomment %}
<section class="contenedor">
  <div class="formulario-container {% if LoginOrRegister %}right-panel-active{% endif %}" id="container">
    <div class="form-container sign-up-container">
      <form method="post" action="{% url 'accounts-hanfler' %}">
        <h3>Registro</h3>
        {% csrf_token %}
        <input type="hidden" name="registration_form" value="registration_form" id="registration_form">
        {{ registration_form.as_p }}
        <button type="submit">Registrarse</button>
      </form>
    </div>
    <div class="form-container sign-in-container ">
      <form method="post" action="{% url 'accounts-hanfler' %}">
        <h3>Iniciar Sesión</h3>
        {% csrf_token %}
        <input type="hidden" name="login_form" value="login_form" id="login_form">
        {{ login_form.as_p }}
        <button type="submit">Iniciar Sesión</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <img src="{% static 'img/logo2.svg' %}" class="svg-overlay"/>
          <h1>Bienvenido devuelta!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" id="signIn">Iniciar Sesión</button>
        </div>
        <div class="overlay-panel overlay-right">
          <img src="{% static 'img/logo2.svg' %}" class="svg-overlay"/>
          <h1>Hola!</h1>
          <p>Introduce tus datos personales y comienza tu viaje con nosotros.</p>
          <button class="ghost" id="signUp">Registro</button>
        </div>
      </div>
    </div>
  </div>
</section>
  <script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');
    
    signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
    });
    
    signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
    });

  </script>
{% endblock %}

