{% extends 'plantilla.html' %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %} 
{% load static %}
<main>
    <section class="contenido_uno">
        <span class="txt-rotating-no">DSH</span>
        <span is="type-async"  class="txt-rotating" id="type-text"></span>
        {% comment %} <span class="blinking-cursor">_</span> {% endcomment %}
        <img src="{% static 'img/facilities/instalacion_general.jpg' %}" alt="Descripción de la imagen"  data-scroll-zoom />
    </section>
    {% if messages %}
    {% for message in messages  %}
    <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible text-center text__error">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h6 class="section-title text-start text-primary text-uppercase barrita">Sobre Nosotros</h6>
                    <h1 class="mb-4">Bienvenido a <span class=" text-uppercase">Django Hotel Suites</span></h1>
                    <p class="mb-4">Descubre la fusión perfecta de lujo y comodidad en el corazón de la ciudad. Con seis tipos de habitaciones exquisitamente diseñadas, piscina y jacuzzi, un restaurante que celebra sabores auténticos, y servicios personalizados, en Django Hotel Suites creamos experiencias inolvidables. Únete a nosotros y sumérgete en un mundo donde la elegancia y la comodidad danzan en armonía.</p>
                    <div class="row g-3 pb-4">
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                            <div class="border rounded p-1">
                                <div class="border rounded text-center p-4">
                                    <i class="fa fa-hotel fa-2x text-primary mb-2"></i>
                                    <h2 class="mb-1" data-toggle="counter-up">Más de 350</h2>
                                    <p class="mb-0">Habitaciones disponibles</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <div class="border rounded p-1">
                                <div class="border rounded text-center p-4">
                                    <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                                    <h2 class="mb-1" data-toggle="counter-up">Más de 2175</h2>
                                    <p class="mb-0">Reseñas Positivas</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                            <div class="border rounded p-1">
                                <div class="border rounded text-center p-4">
                                    <i class="fa fa-users fa-2x text-primary mb-2"></i>
                                    <h2 class="mb-1" data-toggle="counter-up">Más de 2000</h2>
                                    <p class="mb-0">Huéspedes recibidos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-secondary py-3 px-5 mt-2 " href="">Descubre tu próxima estadía en DSH </a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-end">
                            <img class="img-fluid  w-75 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/rooms/individual1.webp' %}" style="margin-top: 25%; visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid  w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/portada.webp' %}" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid  w-50 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/inicio_2.webp' %}" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid  w-75 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/icono.png' %}" style="visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp position-relative barrita-rooms" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h6 class="section-title text-center text-primary text-uppercase header-line-room barrita-rooms barrita-rooms-right barrita-rooms-left">Nuestras Habitaciones</h6>
                <h1 class="mb-5">Algunas de nuestras habitaciones </h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp " data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="room-item shadow  overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid image_card_habitaciones" src="{% static "img/rooms/individual1.webp" %}" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white  py-1 px-3 ms-4">Desde $20000/Noche</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">Suite Individual</h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>1 Cama</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>1 Baño</small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">La clase de habitación ideal, ya sea de paso o estancia prolongada.</p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-primary w-100  py-2 px-4" href="">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="room-item shadow  overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid image_card_habitaciones" src="{% static "img/rooms/suite1.webp" %}" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white  py-1 px-3 ms-4">Desde $30000/Noche</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">Suite Clásica Double </h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>de 2/3 camas</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Baños</small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">El tipo de habitación diseñada para disfrutar  de tus vacaciones
                                en familia.</p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-primary w-100  py-2 px-4" href="">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="room-item shadow  overflow-hidden">
                        <div class="position-relative">
                            <img class="img-fluid image_card_habitaciones" src="{% static "img/rooms/suite1.webp" %}" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white  py-1 px-3 ms-4">Desde $55000/Noche</small>
                        </div>
                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">Suite Familiar</h5>
                                <div class="ps-2">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>2/3 Camas</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Baños</small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">Una habitación especialmente pensada para familias más exigentes.</p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-sm btn-primary w-100  py-2 px-4" href="">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    <section  class="contenido_dos data-scroll-out">
        <img src="{% static 'img/inicio_2.webp' %}" class="rounded"  data-scroll-out>
    </section>

    <!-- Sección de adicionales -->
    <section class="d-flex flex-column row-gap-3 align-items-center border-bottom py-2 text-center seccion_add container-fluid py-3">
        <h2 class="text-center">Nuestros servicios</h2>
        <div class="row container">


            <!-- Tarjeta de Spa 1 -->
            <div class="col-md-4 mb-4">
                <div class="card  h-100">
                    <img src="{% static "img/card_spa.webp" %}" class="card-img-top" alt="Zona de relajación">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title border-bottom py-2 text-center">Vení a relajarte</h5>
                        <p class="card-text text-start">Nuestro Spa Acqua Di Django, cuenta con piscina climatizada, sala de relax,
                            sauna, vestuarios, y servicio de masajes (arancelados).También te esperamos en nuestro SUM y
                            gimnasio con amplia variedad de maquinas a tú disposición</p>
                        <button type="button" class="btn btn-outline-secondary mt-auto align-self-end">Ver más</button>
                    </div>
                </div>
            </div>



            <!-- Tarjeta de Restaurante 2 -->
            <div class="col-md-4 mb-4">
                <div class="card  h-100">
                    <img src="{% static "img/card_resto.webp" %}" class="card-img-top" alt="Restorant">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title border-bottom py-2 text-center">Restó Django Suites</h5>
                        <p class="card-text text-start">En nuestro Restaurante "DjangoSuites" podés disfrutar no sólo de un
                            completo desayuno buffet, sino de múltiples opciones para almuerzo, merienda y cena y una
                            completa carta de vinos.</p>
                        <button type="button" class="btn btn-outline-secondary mt-auto align-self-end">Ver más</button>
                    </div>
                </div>
            </div>


            <!-- Tarjeta de servicio en habitaacion 3 -->
            <div class="col-md-4 mb-4">
                <div class="card  h-100">
                    <img src="{% static "img/card_asist.webp" %}" class="card-img-top" alt="Suite Familiar">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title border-bottom py-2 text-center">Asistencia online</h5>
                        <p class="card-text text-start">En cada habitación vas a poder
                            consultar sobre tu reserva, servicios adicionales, solicitar servicio a la habitación y
                            conocer todos los aranceles con comodidad y rapidez.</p>
                        <button type="button" class="btn btn-outline-secondary mt-auto align-self-end">Ver más</button>
                    </div>
                </div>
            </div>


            <!-- Boton "Ver mas" -->
            <div class="d-grid gap-2 col-12 mx-auto">
                <button class="btn btn-dark fs-5" type="button"><a  class="text-white text-decoration-none"  href=" {% url 'facilities' %}">Conocé nuestros servicios</a></button>
            </div>
    </section>

      </main>

{% endblock %}