{% extends "plantilla.html" %}
{% block titulo %} Reservaciones {% endblock titulo %}
{% block contenido %}
{% load static %}

<main>

    <!-- Encabezado de la página -->
    <section class="hero_habitaciones text-white text-center py-7">
        <h1 class="border-text">Para completar tu reserva, completa el siguiente formulario</h1>
    </section>


    <div class="container mt-4">

  

        
        {% if available == None or available == False %}
        {% if messages %}
        {% for message in messages  %}
        <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible text-center text__error">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}


        <ul class="error_list">
            {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <li><span class="error_list_field">{{field.label}}:</span> {{error|escape}}</li>
                {% endfor %}

                {% endif %}
            {% endfor %}
        </ul>
        <form name="disp" id="disp" action="{% url 'reservation' room.id %}" method="POST"
            enctype="application/x-www-form-urlencoded">

            {% csrf_token %}

            <!-- Campos de la reserva -->
                <legend class="float-none w-auto px-2 py-3 fs-4 text-center">Datos de la reserva</legend>

                <div class="d-flex justify-content-center align-items-center gap-md-5 gap-3 flex-wrap mb-3">
                    <!-- Tipo de Habitacion -->
       
                    <p> <strong>Tipo de Habitación: </strong> {{room.name}}</p>
                    
                    <!-- Número de personas -->
                    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
                        <label for="{{form.num_people.id_for_label}}" class="col-form-label">{{form.num_people.label}} (Max. {{room.capacity}}):
                        </label>
                        <div>
                            {{form.num_people}}                            
                        </div>
                    </div>

                    <!-- Vista -->
                    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
                        <label for="{{form.room_view.id_for_label}}" class="col-form-label">{{form.room_view.label}} </label>
                        <div>
                            {{form.room_view}}
                        </div>
                    </div>
                </div>

                <!-- Fecha de Check In  -->
                <div class="d-flex justify-content-center align-items-center gap-md-5 gap-3 flex-wrap mb-3">
                    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
                        <label for="{{form.date_in.id_for_label}}" class="col-form-label">{{form.date_in.label}}</label>
                        <div>
                           {{form.date_in}}
                        </div>

                    </div>

                    <!-- Fecha de Check Out -->
                    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
                        <label for="{{form.date_out.id_for_label}}" class="col-form-label"> {{form.date_out.label}} </label>
                        <div>
                            {{form.date_out}}
                        </div>
                    </div>

                </div>
                {{form.id_hab}}

                <!-- Comentarios -->
                <div class="d-flex justify-content-center flex-md-row flex-column align align-items-center align-items-md-start gap-md-3 gap-2 mb-3"
                    id="form_comment">
                    <label for="{{form.comments.id_for_label}}" class="col-form-label"> {{form.comments.label}} </label>
                    {{form.comments}}
                </div>
                <button class="btn btn-success d-block mx-auto" type="submit"> Verificar disponibilidad </button>


        </form>

        {% else %}

       
        {% endif %}

    </div>


</main>
{% endblock contenido %}