{% extends "servicios/habitacion/base_carrito.html" %}
{% load static %}

{% block sub_contenido %}


    <ul id="lista_de_tareas" class="list-group w-100">

    </ul>
  
<script>

    class listaTareas {
        constructor(){
            this.lista_productos = JSON.parse(localStorage.getItem('lista_productos')) || []
            this.cargarTareas();
        }
    
        cargarTareas(){
            localStorage.setItem('lista_productos', JSON.stringify(this.lista_productos));
            console.log(localStorage.setItem('lista_productos', JSON.stringify(this.lista_productos)))
            if (this.lista_productos.length >= 1){
                let htmlTareas = this.lista_productos.reduce((html, producto, index)=> html += this.generarTareaHTML(producto,index), '')
                document.getElementById("lista_de_tareas").innerHTML = htmlTareas
            } else {
                document.getElementById("lista_de_tareas").innerHTML = "<h1>No hay productos</h1>"
            }
        }
    
        generarTareaHTML(producto,index){
            return `
            <li class="w-100 list-group-item d-flex flex-row justify-content-between align-items-center">
                <button class="btn btn-danger me-auto">X</button>
                <div>${producto["nombre"]}</div>
                <div>${producto["categoria"]}</div>
                <div class="ms-auto">$${producto["precio"]}</div>
            </li>
            `
        }

        eliminarTarea(evento, indice){
            evento.preventDefault();
            this.tareas.splice(indice,1);
            this.cargarTareas();
        }
    };
    
    let ListaTareas;
    window.addEventListener('load', () => {
        ListaTareas = new listaTareas()
        console.log(ListaTareas)
    
    })
</script>
{% endblock sub_contenido %}

