{% extends "servicios/habitacion/base_carrito.html" %}
{% load static %}

{% block sub_contenido %}
<section class="container mt-3" style="min-height: 80vh;">
  <div class="row row-cols-auto gap-3 justify-content-center " style="height: 100%;">
    {% for producto in list_productos  %}
    <div class="card text-center bg-light " style="width: 18rem; max-height: 27rem; min-height: 27rem">
      {%if producto.imagen %}
        <img src="{{producto.imagen.url}}" class="card-img-top mt-1" alt="...">
        {%else%}
        <img src="https://placehold.co/600x400/webp" class="card-img-top mt-1" alt="...">
      {%endif%}
        <div class="card-body">
          <h5 class="card-title">{{producto.nombre}}</h5>
          <p class="card-text"> ARS${{producto.precio}}</p>
          <a  class="btn_producto btn btn-primary  datita" style="margin-bottom: 0px" data-id="{{producto.id}}" data-nombre="{{producto.nombre}}" data-categoria="{{producto.categoria}}" data-precio="{{producto.precio}}">Agregar</a>
        </div>
    </div>
    {% endfor %}
  </div>
</section>
<script src="{% static 'js/carrito.js'%}"></script>
{% endblock sub_contenido %}
