html{
    font-family: 'Courier New', Courier, monospace;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

main{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
    padding: 0 16px;
    background-color: rgb(247, 247, 247);
}

.panel_header{
    height: 25vh;
    max-height: 25vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(34,37,41,1) 0%, rgba(20,20,20,1) 100%);
    border-radius: 0 0 10px 10px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
/* .panel_header .panel_header-logo{} */
.panel_header .panel_header-logo img{
    width: 48px;
    filter: invert(1);
}
.panel_header .panel_header-info{
    padding: 8px;
}
.panel_header .panel_header-reserva{
    width: 80%;
    font-size: 0.8rem ;
    height: 10vh;
    background-color: white;
    color: rgba(0, 0, 0, 0.897);
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 8px 8px 0px 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.panel_header .panel_header-reserva .nombre{
    text-align: center;
}
.panel_header-reserva .detalles{
    text-align: center;
    color: rgba(0, 0, 0, 0.897);
}
.panel_contenido{
    margin-top: 8px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,15vh);
    grid-template-columns: repeat(2,1fr);
    /* flex-flow: row wrap; */
    gap: 8px;
}

.panel_contenido section{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.panel_contenido section:active{
    transform: scale(1.15);
    filter: invert(1);
}
.panel_contenido section:active .icon{

}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.5);
    color: rgba(34,37,41,1);
}
.panel_service{
    height: 15vh;
    position: relative;
    margin-top: 8px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}
