html {
    --color-base: rgb(33,37,41); 
}
.logo{
    height: 100px;
}
.d-block{
    color: #FFF;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background-color: #CCC;
    color: #000;
}
.nav__link {
    color: #CCC;
    font-size: 1.1rem;
    text-decoration: none;

}
.nav__link:hover{
    text-decoration: none;

}
.nav__link:after {
    display: block;
    content: '';
    border-bottom: solid 2px #FFF;
    transform: scaleX(0);
    transition: transform 0.2s ease;
}

.nav__link:hover:not(#active):after{
    transform: scaleX(1);
    text-decoration: none;

}
#active{
    border-bottom: 2px solid #CCC;
}

.border-text {
    
    color: #fff; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    
}

.seccion-intro {
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px #AAA;
    position: relative;
    z-index: 10000;
}

.seccion_habitaciones {
    background-color: #fbfbfb;
    position: relative;
    z-index: 5000;
    box-shadow: 0px 0px 10px 1px #AAA;
}


.seccion_carousel {
    background-color: #fbfbfb;
    position: relative;
    z-index: 1000;
    box-shadow: 0px 0px 10px 1px #AAA;
}


.seccion_carousel.carousel.carousel-inner,
.seccion_carousel {
    height: 500px;
    width: 100%;
}

.seccion_add {
    background-color: #fbfbfb;
    position: relative;
    z-index: 50;
    box-shadow: 0px 0px 10px 1px #AAA;

}


.hero_inicio{
    background-image: url("img/portada.webp");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    padding: 7rem 0;
    box-shadow: inset 10px 10px 10000px #000;
}
.imagen_hab{
    height: 200px;
}
.hero_habitaciones{
    background-image: url("img/hero_habitaciones.webp");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    padding: 7rem 0;
    box-shadow: inset 10px 10px 10000px #000;
}
.imagen_card{
   height: 250px;
   object-fit: cover; 
}
.price{
    font-size: 1.2rem;
    color: #060;
}
.card_carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    opacity: 0;
}
.card_carousel:hover .carousel-indicators button:not(.active){
    opacity: 0.5;
}
.card_carousel:hover .carousel-indicators button.active{
    opacity: 1;
}
.description{
    font-size: 1.1rem;
}

body{
    overflow-x: hidden;
}
.error_list{
    list-style: none;
    font-size: 1.1rem;
    color: rgba(255,0,0,0.8);
    text-align: center;
}
.error_list_field{
    font-weight: 700;
}
.text__error{
    font-size: 1.1rem;
}
/* Reserva */
legend, label {
    font-weight:550;
}

.comment { 
    min-height: 60px;
    width: 80%;
}
.edit {
    padding: 5px 10px;
    background-color: #0C8CE9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}

.delete {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #F85149;
    border-radius: 0 10px 10px 0;

}

@media screen and (max-width: 768px) {
    .word-counter{
        right: 14%;
    }    
}
@media screen and (min-width: 990px) {
    .carousel-item img{
        width: 100%;
    }    
}