.swiper-container{
    width: 100vw;
    overflow: hidden;
    height: calc(275px * 2);
    user-select: none;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.swiper-slide > img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    transform: translateY(-20%);
    transition: all 20s ease;
}
.swiper-slide > img:hover{
    transform: scale(1.1);
    transition: all 20s ease;
}
.slide-title{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 20%;
    z-index: 99;
    padding: 16px;
    background-color: rgb(33,37,41) !important;
    text-align: center;
}

.swiper-title{
    position: absolute;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    color: white;
    top: calc(275px*1.5);
}
@media screen and (max-width: 768px) {
 
    .swiper-container{
        display: none;
    }
    
}