<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Django Suites</title>
    <link rel="stylesheet" href="bootstrap-5.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <!-- Barra de navegación -->

  <header class="py-3 border-bottom bg-dark">
      <nav class="container d-flex flex-md-row align-items-center justify-content-md-between justify-content-sm-center flex-column">

          <a href="/" class="d-flex align-items-center ms-3 py-3 py-sm-1">
          <img src="img/logodjangosh.png" class="logo">
        </a>
  
        <ul class="nav justify-content-center py-3">
          <li class="py-1 px-lg-4 px-2"><a href="#" class="nav__link">Inicio</a></li>

          <li class="py-1 px-lg-4 px-2"><a href="#" class="nav__link">Habitaciones</a></li>

          <li class="py-1 px-lg-4 px-2"><a href="#" class="nav__link">Instalaciones</a></li>

          <li class="py-1 px-lg-4 px-2"><a href="#" class="nav__link">Contacto</a></li>
        </ul>

        <!-- Cuando ya esta logueado -->
         <!-- <div class="dropdown text-end py-3" data-bs-theme="dark">
            <a href = "#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30" fill="#ccc"><path d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z"/><path d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z" /></svg>
            </a>
            <ul class="dropdown-menu text-small text-light">
              <li><a class="dropdown-item" href="#">Panel de usuario</a></li>
              <li><hr class="dropdown-divider border-light border-opacity-10"></li>
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
          </div> -->
          
          <div class="user nav text-end justify-content-center justify-content-lg-between flex-nowrap">
            <li class="py-1 px-2"><a href="#" class="nav__link">Ingresar</a></li>

            <li class="py-1 px-2"><a href="#" class="nav__link">Registrarse</a></li>
        </div>
          
        
      </nav>
    </header>   
   


    <!-- Encabezado de la página -->
    <header class="bg-primary text-white text-center py-7 header-bg ">
        <h1 class="border-text">Una experiencia inigualable en materia de hoteleria</h1>
    </header>
    
    <section>
        <div class="container">
            <div class="row">
                <!-- Columna de la imagen (col-md-6) -->
                <div class="col-md-6">
                 
                </div>
                <!-- Columna de la descripción (col-md-6) -->
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>



    </section>


    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>&copy; 2023 Hotel Django Suites. Todos los derechos reservados.</p>
        </div>
        
    </footer>


   <script src="bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>

  
</body>
</html>
