{% load static %}
<!DOCTYPE html>
<html lang="es" class="html" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %} {% endblock %}</title>  
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> 
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">  
  <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.min.css'%}">  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
  {% block extracss %} {% endblock %}
</head>

<body id='body'>
    {% comment %} ponganle un display none o un opacity 0 o corten el script  porque me va a dar error en js {% endcomment %}
    <section class="panel-users">
      <section>
        <button id="panel-users-switch">></button>
      </section>
      <ul class="panel-users-list panel-close">
        <li>Cliente</li>
        <li>Trajabador</li>
        <li>Admin</li>
      </ul>
    </section>
  
    {% include 'header.html' %}
    
    {% block contenido %} {% endblock %}
    
    {% include 'footer.html' %}





  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  {% if active == "reservation" %}
  <script src="{% static 'js/validacion.js' %}"></script>
  {% endif %}
  <script src="{% static 'alertifyjs/alertify.min.js'%}"></script>
  <script src="{% static 'js/plantilla.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(function() {
        document.getElementById('body').classList.add('visible')
    }, 100);
  });
    window.addEventListener('scroll', function () {
      var header = document.getElementById('miHeader');
      if (window.scrollY === 0) {
          header.style.backgroundColor = 'rgba(33,37,41, 1)'; // Fondo oscuro en la parte superior
      } else {
          header.style.backgroundColor = 'rgba(33,37,41, 0.5)'; // Fondo más transparente al desplazarse hacia abajo
      }
  });


  </script>
</body>
  {% comment %} ;{renderByPixels:true} {% endcomment %}

</html>